#app {
  background: #ec90af;
}

.loading_error {
  position: absolute;
  top: 54%;
  width: 100%;
  color: #fff;
  font-size: .3rem;
  text-align: center;
}

.cp-pop {
  top: 46%;
}

.alert_close {
  bottom: -1rem;
  width: .75rem;
  height: .75rem;
}

.page_index img {
  opacity: 0;
  transition-duration: .6s;
  transition-property: all;
  transition-timing-function: linear;
}

.show.page_index img {
  opacity: 1;
}

.showed.page_index img {
  transition-delay: 0s;
}

.index_logo {
  top: 2.8%;
  left: 4%;
  transition-delay: 2.4s;
}

.index_title {
  top: 14%;
  transition-delay: 1.8s;
}

.index_music {
  top: 8%;
  right: 2%;
  transition-delay: 2.4s;
}

.game_music {
  top: 1%;
  right: 1.5%;
}

.index_cat_box {
  position: absolute;
  top: 25%;
}

.index_cat {
  bottom: 10%;
  transition-delay: .6s;
}

.show.page_index .index_cat {
  bottom: 0;
}

.index_flower_l, .index_flower_r {
  top: 50%;
  transition-delay: 1.2s;
}

.index_flower_l {
  left: 50%;
}

.show.page_index .index_flower_l {
  top: 50%;
  left: 9%;
}

.index_flower_r {
  right: 50%;
}

.show.page_index .index_flower_r {
  top: 38%;
  right: 8%;
}

.index_start {
  top: 80%;
  transition-delay: 2.4s;
}

img.index_earth {
  top: 57%;
  transition-delay: 3s;
}

.game_earth {
  top: 73%;
}

#game {
  position: absolute;
}

.game_score {
  position: absolute;
  height: .7rem;
  padding: 0 .2rem;
  color: #fff;
  background: #8d284b;
}

.game_score::after {
  content: '';
  position: absolute;
  right: -9px;
  border-left: 9px solid #8d284b;
  border-bottom: .7rem solid transparent;
}

.game_score_tips {
  margin-right: .2rem;
  font-size: .26rem;
}

.game_score_num {
  margin-right: .2rem;
  font-size: .36rem;
  font-weight: bold;
}

.game_score_km {
  font-size: .26rem;
}

.alert_btn {
  width: 4.96rem;
  height: .98rem;
}

.pop_alert {
  width: 5.6rem;
  height: 3.47rem;
}

.alert_msg_box {
  position: absolute;
  top: 1rem;
  width: 90%;
  height: 2rem;
}

.alert_msg {
  color: #471020;
  font-size: .3rem;
}
