#app {
  background: linear-gradient(#f67dae, #ffa6d2);
}

.loading_error {
  position: absolute;
  top: 54%;
  width: 100%;
  color: #fff;
  font-size: .3rem;
  text-align: center;
}

.page_index {
  background: #f9add7;
}

.page_index img {
  opacity: 0;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: linear;
}

.show.page_index img {
  opacity: 1;
}

.showed.page_index img {
  transition-delay: 0s;
}

.index_circle {
  top: 5%;
  right: 0;
}

.index_vip {
  top: 1.8%;
  left: 3%;
  transition-delay: 2.4s;
}

.index_logo {
  top: 1.8%;
  left: 20%;
  transition-delay: 2.4s;
}

.index_cloud {
  top: 8.5%;
  right: 0;
  transition-delay: 1.2s;
  transform: translate(100%);
}

.index_man {
  top: 35%;
  transition-delay: 1.2s;
  transform: translate(-100%);
}

.index_tree_0 {
  top: 12%;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  transition-delay: .6s;
}

.index_tree_1 {
  top: 46%;
  right: 0;
  transform: rotate(90deg);
  transform-origin: right bottom;
  transition-delay: .6s;
}

.index_music {
  top: 8%;
  left: 3%;
  width: 1.18rem;
  transition-delay: 2.4s;
}

.game_music {
  right: 0;
  width: 1.18rem;
}

.show.page_index .index_cloud, .show.page_index .index_man, .show.page_index .index_tree_0, .show.page_index .index_tree_1 {
  transform: rotate(0);
}

.index_title {
  top: 13%;
  left: 9%;
  transition-delay: 1.8s;
}

.index_start {
  top: 76%;
  transition-delay: 2.4s;
}

.game_score_box {
  position: absolute;
  height: .54rem;
  padding-left: .2rem;
  padding-right: .4rem;
  border-bottom-right-radius: 1rem;
  border-right: .04rem solid #e84f98;
  border-bottom: .04rem solid #e84f98;
  vertical-align: middle;
  background: #fff;
}

.game_score_gold {
  width: .5rem;
}

.game_score_x {
  margin: 0 .14rem;
  color: #e84f98;
  font-size: .28rem;
}

.game_score {
  color: #55a3c0;
  font-size: .38rem;
}

#game {
  position: absolute;
}

.alert_close {
  bottom: -1.2rem;
  width: .8rem;
}

.alert_cloud_0 {
  top: -.3rem;
  right: -.7rem;
  width: 1.67rem;
}

.alert_cloud_1 {
  left: -.5rem;
  bottom: -.2rem;
  width: 1.55rem;
}

.pop-title {
  top: .3rem;
  height: .7rem;
}

.pop_alert {
  flex-direction: column;
  width: 5.4rem;
  height: 3.23rem;
}

.alert_msg_line {
  margin-top: .4rem;
  color: #666;
  font-size: .26rem;
}
