.page_index {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding-top: .2rem;
}

.mode_list {
  background: #f1f1f1;
}

.mode_list .item_img {
  width: 1.4rem;
  height: 2.5rem;
}

.mode_list .item_info {
  flex: 1;
  position: relative;
  height: 2.5rem;
  margin-left: .24rem;
  margin-right: .04rem;
}

.mode_list .item_title {
  font-size: .26rem;
  font-weight: bold;
}

.mode_list .item_desc {
  color: #969ba3;
  font-size: .24rem;
  line-height: 1.5em;
  text-align: justify;
  -webkit-line-clamp: 4;
}

.mode_list .item_user {
  position: absolute;
  bottom: 0;
}

.mode_list .item_user_item+.item_user_item {
  margin-left: .1rem;
}

.mode_list .item_tips {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #969ba3;
  font-size: .16rem;
  line-height: 1.5em;
  white-space: nowrap;
}

.mode_thumb {
  background: #fff;
}

.mode_thumb>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mode_thumb_item {
  margin-bottom: .1rem;
}

.mode_thumb .item_img {
  width: 2.1rem;
  height: 3.75rem;
}

.mode_thumb .item_title {
  height: .8rem;
  font-size: .24rem;
  text-align: center;
  line-height: .6rem;
  white-space: nowrap;
}

.mode_thumb .null {
  width: 100%;
  margin-top: -.1rem;
}

.null {
  color: #969ba3;
  font-size: .2rem;
  line-height: 1rem;
  text-align: center;
}
