#app {
  background: #3290d8;
}

.loading_box {
  position: absolute;
}

.loading_bg {
  height: 100%;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink2 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.loading_dark {
  top: 40.6%;
  left: 6.8%;
  animation: blink2 2.6s linear infinite;
}

.loading_word {
  top: 42.6%;
  left: 15.3%;
}

.loading_light {
  top: 32.5%;
  animation: blink 2.6s linear infinite;
}

.loading_progress {
  position: absolute;
  bottom: -.5rem;
  width: 100%;
  color: #fff;
  font-size: .26rem;
  text-align: center;
}

.loading_error {
  position: absolute;
  bottom: -1rem;
  width: 100%;
  color: #fff;
  font-size: .26rem;
  text-align: center;
}

.loading_kidding {
  bottom: 3.5%;
}

.game_container {
  position: absolute;
  width: 200%;
  height: 200%;
  transition: all .8s ease-out;
  transform-origin: left top;
  transform: scale(.5);
}

.show .game_container_at_0 {
  transform: translateY(-50%);
}

.show .game_container_at_1 {
  transform: scale(1);
}

.show .game_container_at_2 {
  transform: translate(-50%);
}

.show .game_container_at_3 {
  transform: translate(-50%, -50%);
}

.game_area {
  position: absolute;
  width: 50%;
  height: 50%;
}

.game_area_0 {
  bottom: 0;
}

.game_area_2 {
  right: 0;
}

.game_area_3 {
  right: 0;
  bottom: 0;
}

.game_sun {
  transform: translate(-6%, -52%);
}

.game_map {
  z-index: -1;
}

.game_area_0 .game_map, .game_area_0 .game_cell_box {
  right: 0;
}

.game_area_1 .game_map, .game_area_1 .game_cell_box {
  right: 0;
  bottom: 0;
}

.game_area_2 .game_map, .game_area_2 .game_cell_box {
  bottom: 0;
}

.game_cell_box {
  position: absolute;
}

.game_cell_line {
  white-space: nowrap;
}

.game_cell {
  display: inline-block;
}

.game_cell_people {
  position: absolute;
  top: -1%;
  left: 0;
  opacity: 0;
}

.game_cell_people_img {
  max-height: 100%;
}

.game_rule {
  top: 2%;
  right: 3%;
}

.game_music {
  top: 11%;
  right: 3%;
}

.game_gift {
  position: absolute;
  left: 3%;
  bottom: 1%;
  z-index: 9;
}

.game_user {
  border: .04rem solid #fff;
  border-radius: 50%;
  transform: translate(-10%, -10%);
}

.game_start {
  position: absolute;
  right: 3%;
  bottom: 1%;
  z-index: 9;
}

.game_life_add {
  bottom: 6%;
}

.game_life {
  position: absolute;
  top: -.76rem;
  left: 19.4%;
  height: .6rem;
  padding: 0 .1rem;
  color: #788ea3;
  font-size: .22rem;
  line-height: .6rem;
  border-radius: .1rem;
  background: #fff;
  white-space: nowrap;
  box-shadow: 0 0 .06rem rgba(0, 0, 0, .1);
}

.game_life::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  border-top: 6px solid #fff;
  border-left: .08rem solid transparent;
  border-right: .08rem solid transparent;
  transform: translate(-50%);
}

.game_life_val {
  color: #d63737;
  font-size: .28rem;
  font-weight: bold;
}

.game_dot {
  top: 16%;
  left: 35%;
}

@keyframes shake {
  0% {
    transform: translate(.02rem, .02rem);
  }
  25% {
    transform: translate(-.02rem, -.02rem);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(.02rem, -.02rem);
  }
  100% {
    transform: translate(-.02rem, .02rem);
  }
}

.dot_shake {
  animation: shake .3s linear infinite;
}

.cp-pop {
  top: 46%;
  width: 6.47rem;
}

.ralert_tips {
  top: 50%;
  width: 100%;
  background: #3290d8;
}

.bg_tips {
  right: 0;
}

.tips_img {
  right: 2%;
  bottom: 0;
}

.title {
  top: .6rem;
  height: .7rem;
}

.alert_close {
  bottom: -1rem;
  width: .77rem;
}

.alert_btn {
  bottom: -.9rem;
  width: 2.91rem;
}

.alert_btn_l {
  left: .21rem;
}

.alert_btn_r {
  right: .25rem;
}

.ralert_rule {
  height: 8.71rem;
}

.rule_content {
  width: 5rem;
  height: 6.6rem;
  margin: 1.3rem auto;
  color: #fff;
  font-size: .26rem;
  text-align: justify;
}

.ralert_desc, .ralert_get_coin {
  height: 5.45rem;
}

.desc_coin_line {
  color: #fff;
  font-size: .34rem;
  text-align: center;
}

.desc_coin_line:first-of-type {
  margin-top: 3.8rem;
}

.color_gold {
  color: #fcff00;
}

.ralert_get_coin .desc_coin_line {
  margin-top: 4.1rem;
}

.ralert_cant, .pop_alert, .ralert_ex_cant {
  height: 4.3rem;
}

.alert_msg_box {
  flex-direction: column;
  width: 5.2rem;
  height: 3.1rem;
  margin: .6rem auto;
}

.alert_msg_line {
  color: #fff;
  font-size: .34rem;
}

.ralert_award_list, .ralert_gift {
  height: 9.07rem;
}

.award_list {
  width: 5.4rem;
  height: 5.8rem;
  margin: 2.5rem auto;
}

.award_item {
  padding: .2rem .4rem;
  color: #fff;
  font-size: .28rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  box-sizing: border-box;
}

.award_item+.award_item, .gift_item+.gift_item {
  border-top: .01rem solid rgba(255, 255, 255, .2);
}

.gift_timer, .gift_score {
  position: absolute;
  top: 2.3rem;
  width: 2.6rem;
  color: #fff;
  font-size: .26rem;
  text-align: center;
}

.gift_timer {
  left: .46rem;
}

.gift_score {
  right: .46rem;
}

.color_gift_gold {
  color: #fcff00;
  font-size: .36rem;
  font-weight: bold;
}

.gift_list {
  width: 5.4rem;
  height: 5.3rem;
  margin: 3rem auto;
}

.gift_item {
  justify-content: space-between;
  height: 1rem;
}

.gift_name {
  width: 3.4rem;
  color: #fff;
  font-size: .28rem;
  font-weight: bold;
  -webkit-line-clamp: 2;
}

.gift_time {
  color: #fcff00;
  font-size: .28rem;
  text-align: center;
}

.ralert_lucky {
  height: 5.67rem;
}

.lucky_img {
  top: 1.7rem;
  width: 2.28rem;
  height: 2.26rem;
}

.lucky_name {
  width: 4.4rem;
  margin: 4.2rem auto 0;
  color: #fff;
  font-size: .3rem;
  font-weight: bold;
  text-align: center;
}

.list_null {
  position: absolute;
  top: 54%;
  color: #fff;
  font-size: .24rem;
}

.ralert_gift_light {
  width: 3rem;
  height: 2.81rem;
  transform: translate(-50%, -50%) scale(.4);
  transition: transform .4s linear;
}

.show .ralert_gift_light {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes light_rotate {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.light {
  top: 50%;
  left: 50%;
  width: 5.94rem;
  height: 5.94rem;
  animation: light_rotate 12s linear infinite;
}

.light_big {
  width: 7.2rem;
  height: 7.2rem;
  z-index: -2;
}

.giftbox_0 {
  transition: opacity .6s linear;
  animation: shake 1s .6s linear infinite;
}

.giftbox_1 {
  left: .26rem;
  bottom: 0;
  width: 3.1rem;
  opacity: 0;
  transition: opacity .6s linear;
}
