.cp-page {
  background: linear-gradient(#002f7d 10%, #3dc4bf 60%) #002f7d;
}

.page_loading {
  background: linear-gradient(#002f7d 50%, #002f7d 70%, #3dc4bf) #002f7d;
}

.loading_logo {
  top: 29%;
}

.loading_star_1 {
  top: 50%;
}

.loading {
  position: absolute;
  top: 42.5%;
}

.loading_light {
  position: absolute;
}

.loading_light::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@keyframes blink {
  0%, 100% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
}

.show.page_loading .loading_light::after {
  animation: blink 2s linear infinite;
}

.light_0 {
  width: 120%;
  height: 120%;
}

.light_0::after {
  background: rgba(255, 223, 104, .3);
}

.light_1 {
  width: 140%;
  height: 140%;
}

.light_1::after {
  background: rgba(255, 223, 104, .2);
}

.light_2 {
  width: 160%;
  height: 160%;
}

.light_2::after {
  background: rgba(255, 223, 104, .1);
}

.loading_progress {
  position: absolute;
  top: 64%;
  color: #fff;
  font-size: .24rem;
}

.loading_error {
  position: absolute;
  top: 70%;
  color: #fff;
  font-size: .28rem;
  white-space: nowrap;
}

.page_index img {
  opacity: 0;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: linear;
}

.page_index.show img {
  opacity: 1;
}

.showed.page_index img, .showed.page_index .floor_area {
  transition-delay: 0s;
}

.logo {
  right: 0;
  width: 2.48rem;
}

.title {
  top: 22%;
  transition-delay: 2.9s;
}

.music {
  top: 8%;
  right: 2%;
  z-index: 99;
  transition-delay: 3.5s;
}

.page_index .index_moon {
  transition-duration: 1s;
  transform: translateY(-100%);
}

.show.page_index .index_moon {
  transform: translateY(-8%);
}

.index_stars {
  transition-delay: 1s;
}

.index_cloud_0 {
  top: 8%;
  left: 100%;
  transition-delay: 1.4s;
}

.show.page_index .index_cloud_0 {
  left: 91%;
}

.index_cloud_1 {
  top: 22%;
  right: 100%;
  transition-delay: 1.4s;
}

.show.page_index .index_cloud_1 {
  right: 91%;
}

.index_cloud_2 {
  top: 43%;
  left: 100%;
  transition-delay: 1.4s;
}

.show.page_index .index_cloud_2 {
  left: 79.6%;
}

.floor_area {
  position: absolute;
  width: 100%;
  height: 64%;
  top: 100%;
  transition: all .6s 1.9s linear;
}

.show.page_index .floor_area, .page_game .floor_area {
  top: 40%;
}

.page_game .floor_area {
  transition: none;
}

.index_floor {
  width: 100%;
  transition-duration: 0;
}

.index_floor_plus {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: #0a333d;
}

.index_table {
  top: 36%;
  width: 100%;
  transition-delay: 2.4s;
}

.food_shadow {
  opacity: 0;
  z-index: 1;
  transition: opacity .1s linear;
  transform: translate(-50%, -50%);
}

.index_start {
  top: 77%;
}

.logo, .index_start {
  transition-delay: 3.5s;
}

.alert_close {
  bottom: -1.1rem;
  width: .88rem;
  height: .88rem;
}

.timer_box {
  position: absolute;
  width: 2.16rem;
  height: .81rem;
  color: #724b32;
  font-size: .22rem;
  line-height: .7rem;
  z-index: 2;
}

.timer_box span {
  vertical-align: middle;
}

.timer_box span:first-of-type {
  margin-left: .15rem;
}

.time_sec {
  color: #c4332c;
}

canvas {
  position: absolute;
  z-index: 9;
}

.score_bar {
  position: absolute;
  right: 0;
  width: 1.61rem;
  height: .54rem;
  z-index: 10;
  transition: top .3s linear;
}

.score {
  margin-top: .02rem;
  color: #fff;
  font-size: .36rem;
}

.pop_alert {
  width: 6rem;
  height: 4.31rem;
}

.alert_msg {
  width: 5.2rem;
  height: 1.8rem;
  margin: 1.5rem auto;
}

.alert_msg_line {
  color: #fff;
  font-size: .36rem;
  text-align: center;
}

.tips_1 {
  left: 29%;
}

.tips_2 {
  top: calc(63% + 2.5rem);
  left: 50%;
  transform: translate(-50%, -70%);
}
